<div class="container">
  <div class="row">
    <h2 class="bg-light">データ</h2>
    <%= column_chart @items.pluck(:name, :earning), xtitle: "商品名", ytitle: "売上数" %>
  </div>
  <div class="page-under"></div>
</div>