@import '~bootstrap/scss/bootstrap';

.home {
  background-image: url("/assets/ykyujo.jpg");
  height: 800px;
  background-size: cover;
}

header {
  width: 100%;
  position: fixed; /* ウィンドウを基準に画面に固定 */
  top: 0; /* 上下の固定位置を上から0pxにする */
  left: 0; /* 左右の固定位置を左から0pxにする */
  margin-bottom: 30px;
}