@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

body {
  background: #f1ebe7;
  width: 100vw;
  height: 100vh;
  font-family: "You Gothic Medium", "游ゴシック Medium", "YuGothic", "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-seril;
}

header {
  #home {
    height: 100vh;
    background-image: url("../images/ball.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 9998;
  }
  #logo {
    position: absolute;
	  top: 20%;
  }
  .top-logo {
    color: #a6ce39;
    font-size: 1.5em;
    font-family: 'Londrina Shadow', cursive;
    width: 100%;
    height: 10vh;
  }
  .head {
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9998;
    .header-logo {
      color: #fff;
      font-size: 50px;
      font-family: 'Londrina Shadow', cursive;
      text-align: center;
      width: 100%;
      line-height: 50px;
    }
  }
}

footer {
  position: absolute;
  bottom: 0;
  #sp-fixed-menu{
    background-color: #a6ce39;
    width: 100%;
    position: fixed;
    bottom: 0;
    font-size: 0;
    z-index: 99;
    ul{
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;
      width: 100%;
      height: 100px;
    }
    li {
      justify-content: center;
      align-items: center;
      width: 50%;
      padding: 0;
      margin: 0;
      font-size: 14px;
      border-right: 1px solid #fff;
      a {
        color: #fff;
        text-align: center;
        display: block;
        width: 100%;
      }
    }
  }
}

#menubar {
	position: absolute;
	bottom: 15%;
	left: 0px;
	ul {
	  list-style: none;
	  padding-left: 0;
	  margin-left: 45%;
	  a {
	    color: #a6ce39;
	  }
	}
}

#rogin {
  height: 100vh;
  .logo {
    margin-top: 200px;
  }
  .logbtn {
    margin-top: 50px;
    height: 50px;
    .btn {
      line-height: 50px;
    }
  }
}

#ranking {
  .logo {
    margin-top: 200px;
  }
  .rank-1 {
    color: #dbb400;
    background-color: #dbb400;
  }
  .rank-2 {
    color: #c9caca;
    background-color: #c9caca;
  }
  .rank-3 {
    color: #c9ae5d;
    background-color: #c9ae5d;
  }
  .rank-4 {
    color: red;
  }
  .rank-5 {
    color: green;
  }
}

#usage {
  .logo {
    margin-top: 200px;
  }
  .card {
    width: 90%;
  }
}

.sale-card {
  width: 95%;
  .card-img-top {
    width: 100%;
    .store-img {
      width: 100%;
    }
  }
  .table {
    table-layout: fixed;
    th {
      width: 15%;
    }
    .long-name {
      width: 85%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.category-card {
  width: 95%;
  .card-img-top {
    width: 100%;
    .item-img {
      width: 100%;
      aspect-ratio: 3 / 2;
      object-fit: cover;
    }
  }
  .table {
    table-layout: fixed;
    th {
      width: 15%;
    }
    td {
      width: 85%;
    }
  }
}

.store-top {
  margin-top: 30px;
}

.store-card {
  .card-img-top {
    width: 100%;
    .store-img {
      width: 100%;
    }
  }
  .table {
    table-layout: fixed;
    th {
      width: 10%;
    }
    td {
      width: 90%;
    }
  }
}

.item-card {
  width: 95%;
  .card-img-top {
    width: 100%;
    .item-img {
      width: 100%;
      aspect-ratio: 3 / 2;
      object-fit: cover;
    }
  }
}

.cart-card {
  width: 95%;
  .card-img-top {
    width: 100%;
    .item-img {
      width: 100%;
      aspect-ratio: 3 / 2;
      object-fit: cover;
    }
  }
  .cart-border {
    border: dashed 1px;
  }
}



.long-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.page-under {
  height: 150px;
}



h2 {
  margin-top: 50px;
}

h3 {
  padding: 0.4em 0.5em;/*文字の上下 左右の余白*/
  color: #494949;/*文字色*/
  background: #f4f4f4;/*背景色*/
  border-left: solid 5px #7db4e6;/*左線*/
  border-bottom: solid 3px #d7d7d7;/*下線*/
  margin: 0 auto;
  margin-top: 30px;
}

.subtitle {
  color: black;
  position: relative;
  padding-left: 1.2em;/*アイコン分のスペース*/
  line-height: 1.4;
}

.subtitle:before {
  font-family: "Font Awesome 5 Free";
  content: "\f00c";/*アイコンのユニコード*/
  font-weight: 900;
  position: absolute;/*絶対位置*/
  font-size: 1em;/*サイズ*/
  left: 0;/*アイコンの位置*/
  top: 0;/*アイコンの位置*/
  color: #5ab9ff; /*アイコン色*/
  font-weight: 900;
}


.btnlog {
  font-family: lato,sans-serif;
  font-weight: bold;
  font-size: 1em;
  letter-spacing: 0.1em;
  text-decoration: none;
  color: green;
  display: inline-block;
  padding: 10px 40px 10px 40px;
  position: relative;
  border: 3px solid green;
  border-radius: 20px;
}

.sale-area .category {
  height: 75px;
  text-align: center;
}

.btnare {
  color: #000;
  background-color: #fff100;
  border-bottom: 5px solid #ccc100;
  line-height: 75px;
}

.btncat {
  color: #000;
  background-color: orange;
  border-bottom: 5px solid #ccc100;
  line-height: 75px;
}

.btnsol {
  color: #fff;
  border: 2px solid #fff;
  border-radius: 0;
  background-image: -webkit-gradient(linear, left top, right top, from(#fa709a), to(#fee140));
  background-image: -webkit-linear-gradient(left, #fa709a 0%, #fee140 100%);
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
}

.btncom {
  background: #f1e767;
  background: -webkit-gradient(linear, left top, left bottom, from(#f1e767), to(#feb645));
  background: -webkit-linear-gradient(top, #f1e767 0%, #feb645 100%);
  background: linear-gradient(to bottom, #f1e767 0%, #feb645 100%);
}

.btn {
  &:active{
  transform: scale(.95);
  }
}

.flash-notifications {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  font-weight: bold;
  color: white;
  text-align: center;

  .notice {
    background-color: #ADD8E6;
  }

  .alert {
    background-color: #FF4500;
  }
}




/* タブレット用CSSをメディアクエリ内に記述する */
@media screen and (min-width: 521px) {

}
/* PC用CSSをメディアクエリ内に記述する */
@media screen and (min-width: 960px) {

}