@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';



header #home {
  background-image: url("/assets/ykyujo.png");
  background-size: cover;
  z-index: 9999;
  height: 100vh;
  position: relative;
}

header #logo {
	width: 100%;	/*画像の幅*/
	position: absolute;
	bottom: 50%;
}

#menubar {
	position: absolute;
	bottom: 20%;	/*ロゴやメニューが入っているブロックに対して、下からの配置場所の指定。*/
	left: 0px;
}

footer {
  position: absolute;
  bottom: 0;
}

body {
  color: #00FF00;
  background: #f1ebe7;
  width: 100vw;
  height: 100vh;
  font-family: "You Gothic Medium", "游ゴシック Medium", "YuGothic", "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-seril;
}

.long-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card:hover {
  background-color: gold;
}

h2 {
  margin-top: 50px;
}

h3 {
  margin-top: 50px;
}

/* タブレット用CSSをメディアクエリ内に記述する */
@media screen and (min-width: 521px) {

}
/* PC用CSSをメディアクエリ内に記述する */
@media screen and (min-width: 960px) {

}