<div class="container">
  <div class="row mt-5">
    <h3 style="margin: 0 auto; margin-top: 100px;">注文番号</h3>
  </div>
  <div class="row mb-5">
    <h5 style="margin: 0 auto;">ご注文ありがとうございました！</h5>
  </div>
  <div class="row mt-5">
    <h5 style="margin: 0 auto;">只今より商品準備に取り掛かります。</h5>
    <h5 style="margin: 0 auto;">商品到着までご自身の席にてお待ちください。</h5>
  </div>
</div>