<div class="container">
  <div class="row mt-5">
    <h3>エラーが発生しました。</h3>
  </div>
  <h5 class="row mt-3">
    お手数ですが、はじめからやり直してください。
  </h5>
  <div class="row mt-5">
    <%= link_to "戻る", cart_items_path, class: "btn btn-primary" %>
  </div>
</div>