<div class="container">
  <div class="row mt-5">
    <h3>注文履歴</h3>
  </div>
  <table class="table table-striped table-light mt-3">
    <thead>
      <th>購入日</th>
      <th>注文番号</th>
      <th>注文状況</th>
    </thead>
    <% @orders.each do |order| %>
      <tbody>
        <td>
          <%= link_to order_path(order.id) do %>
            <%= order.created_at.strftime('%Y/%m/%d') %>
          <% end %>
        </td>
        <td><%= order.order_number %></td>
        <td><%= order.order_status_i18n %></td>
      </tbody>
    <% end %>
  </table>
</div>