<% if obj.errors.any? %>
  <div id="error_explanation">
    <ul class="text-center card bg-danger" style="list-style: none; padding-left: 0; color: white;">
      <% obj.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>