<footer class="fixed-bottom">
  <% if admin_store_signed_in? %>
    <div style="height: 50px; background-color: #c22a1f"></div>
  <% else %>
    <div style="height: 50px; background-color: #a6ce39"></div>
  <% end %>
</footer>